* {
    margin: 0px;
    padding: 0px;
    color: #faf7f5;
}

.header {

    text-align: center;
    background: #20c1a1;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
/* Сделать лого для хедера */
/* .header{ 
    width: 20 px; 
    height: 20 px; 
    background-color: #3f23f4; 
    margin-bottom: 5 px; 
    /* background-image: url(images/имя файла)   
    }  */

.footer {
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    margin: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    min-height: 462px;
}


.nav-wrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-top: 10px;
}

.nav-element {
    background-color: #04AA6D;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 550;
    border: none;
    color: white;
    padding: 0px 12px;
    text-align: center;
    font-size: 11px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
}

#container {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    box-shadow: 12px 10px 71px -22px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 12px 10px 71px -22px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 12px 10px 71px -22px rgba(0, 0, 0, 0.75);
    background-color: #121212;
    color: #e9e9e9;
}

.main {
    background-color: #252525;
}

/* #container > *{
display: block;
background-color: aliceblue;
} */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Создание 3 колонок с одинаковой шириной */
    grid-gap: 5px; /* Отступы между ячейками */
    
    
  }
  .grid-item {

    background-color: lightblue;
    padding: 0px;
    text-align: center;
  }

.grid-item img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    top: 0;
    left: 0;
  } 

.item1{
    grid-area: 2 / 1 / 6 / 1;
  
}
.item2{
    grid-area: 2 / 2 / 5 / 4;
}
.item4{
    grid-area: 6 / 1 / 25 / 1;
}
.item3{
    grid-area: 2 / 4 / 15 / 5;
}
.item5{
    grid-area: 5 / 2 / 25 / 3;
}
.item6{
    grid-area: 5 / 3 / 38 / 3;
}
.item8{
    grid-area: 25 / 1 / 38 / 3;
}
.item7{
    grid-area: 15 / 4 / 38/ 5;
}

.right-section {
    width: 20%;
}


.decorator {
    font-weight: bold;
}


/*Read about positions*/

/* .list-item{
    position: relative;
}

.list-item::before{
    position: absolute;
    content: "";
} */